
@plugin "daisyui/theme" {
  name: "cru-dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: #111110;
  --color-base-200: #222221;
  --color-base-300: #343431;
  --color-base-content: #fbfbfb;
  --color-primary: #ffd000;
  --color-primary-content: #000000;
  --color-secondary: #f08020;
  --color-secondary-content: #000000;
  --color-accent: #00c0d8;
  --color-accent-content: #000000;
  --color-neutral: #565652;
  --color-neutral-content: #ffffff;
  --color-info: #007382;
  --color-info-content: #ffffff;
  --color-success: #52896d;
  --color-success-content: #ffffff;
  --color-warning: #904d13;
  --color-warning-content: #ffffff;
  --color-error: #74242c;
  --color-error-content: #ffffff;
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "cru-light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #ffffff;
  --color-base-200: #fbfbfb;
  --color-base-300: #f9f8f8;
  --color-base-content: #000000;
  --color-primary: #ffd000;
  --color-primary-content: #000000;
  --color-secondary: #000000;
  --color-secondary-content: #ffd000;
  --color-accent: #00c0d8;
  --color-accent-content: #000000;
  --color-neutral: #565652;
  --color-neutral-content: #ffffff;
  --color-info: #007890;
  --color-info-content: #f2f8f9;
  --color-success: #24c976;
  --color-success-content: #072818;
  --color-warning: #f08020;
  --color-warning-content: #301a06;
  --color-error: #c23c49;
  --color-error-content: #fcf5f6;
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}
